$background-color: #f5f5f5; // Soft White
$secondary-bg-color: #e0e0e0; // Pale Gray
$highlight-color: #8fac8d; // Soft Green
$accent-color: #aedff2; // Soft Blue
$border-color: #d2b48c; // Light Brown
$neutral-color: #483c32; // Taupe
$lavender-color: #c8a2c8; // Soft Lavender
