.app__wrapper {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}
.wrapperHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 55px;
}
